@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --nb-primary: #0b3d91; /* navy */
  --nb-accent: #0fb7c1; /* teal accent */
  --nb-muted: #6b7280; /* gray-500 */
}

html, body, #__next { height: 100%; }
body { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; background-color: #ffffff; color: #111827; font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
.hero-gradient { background: linear-gradient(90deg, rgba(11,61,145,0.06), rgba(15,183,193,0.03)); }
<<<<<<< HEAD
.card-border { border: 1px solid rgba(15,183,193,0.08); }
=======
.card-border { border: 1px solid rgba(15,183,193,0.08); }
>>>>>>> d86426b5d98f6e90522f6606fdba792f8e5bac7d
